*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    grid-template-columns: 22rem 1fr;
    grid-template-rows: auto 1fr auto;
}
header, footer {
    grid-column: 1 / -1;
    background-color: aquamarine;
}
